body {
  background-image: url('LL.png');
}

.pageTitle {
  font-size: 50px;
  font-weight: bold;
}

.title {
  font-size: 22px;
  text-align: center;
  font-family: cursive;
}

.headerLines {
  margin-top: 200px;
  list-style: none;
}

ul > li {
  margin: 16px;
  font-size: 30px;
  font-family: cursive;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
